<meta name="viewport" content="width=device-width,initial-scale=1.0,
                               minimum-scale=1.0,maximum-scale=1.0,
                               user-scalable=no" />

<style>
    body {
        background-color: #aabbcc;
    }
</style>

<body>
    <h1>Network O&S - {{ x }} {{ y }}</h1>
    안녕하세요. 반갑습니다.
    <ul>
        <li>
            <a href="/blog/sum/123/456/">123 + 456</a>
        </li>
        <li>
            <a href="/blog/sum/111/222/">111 + 222</a>
        </li>
    </ul>

    <div id="post-list">
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
    </div>

    <hr/>
    &copy; 2018 Network O&S.
</body>
